.App {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Information {
    background-color: #869296;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;

    /* .App {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .Information {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
} */

input[type="text"],
input[type="number"],
input[type="file"],
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.Link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #ff7eb3;
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
}
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"],
  button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  button {
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  .Link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #ff7eb3;
    text-decoration: none;
  }
  
  .Link:hover {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    .Information {
      width: 100%; /* Full width on smaller screens */
      margin: 0 10px; /* Add some spacing on the sides */}
  }