.product-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 16px;
    background-color: #f7f7f7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-image img {
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .product-image img:hover {
    transform: scale(1.05);
  }
  
  .product-details {
    text-align: center;
  }
  
  .product-description {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  
  .product-attribute {
    font-size: 20px;
    margin-bottom: 10px;
    color: #555;
    font-family: 'Roboto', sans-serif;
  }
  
  .product-price {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    color: #ff5722;
    font-family: 'Montserrat', sans-serif;
  }
  
  .designer-name {
    margin-top: 10px;
    font-style: italic;
    color: #777;
    font-family: 'Roboto', sans-serif;
  }
  .product-container {
    /* Other styles */
    background-image: url("shopping-cart-filled-with-coins-copy-space-background.jpg")}
.wrap-product
{
  text-align: center;
}