.createProductBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .createProductBody input[type="text"],
  .createProductBody input[type="number"],
  .createProductBody input[type="file"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  
  .createProductBody button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .createProductBody button:hover {
    background-color: #0056b3;
  }
  
  .createProductBody img {
    margin-top: 10px;
  
    border-radius: 4px;
  }
  